In [1]:
# install dulu package-nya
!pip install pulp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pulp
  Downloading PuLP-2.6.0-py3-none-any.whl (14.2 MB)
     |████████████████████████████████| 14.2 MB 4.8 MB/s
Installing collected packages: pulp
Successfully installed pulp-2.6.0

In [2]:
# import package-nya ke python
from pulp import *

In [3]:
# create the LP object, set up as a maximization problem --> since we want to minimize the cost of shipping goods
problem = pulp.LpProblem('Transshipment_Problem', LpMinimize)

# declare the variables
x13 = LpVariable("Denver to Kansas City", lowBound = 0)
x14 = LpVariable("Denver to Louisville", lowBound = 0)
x23 = LpVariable("Atlanta to Kansas City", lowBound = 0)
x24 = LpVariable("Atlanta to Louisville", lowBound = 0)
x35 = LpVariable("Kansas City to Detroit", lowBound = 0)
x36 = LpVariable("Kansas City to Miami", lowBound = 0)
x37 = LpVariable("Kansas City to Dallas", lowBound = 0)
x38 = LpVariable("Kansas City to New Orleans", lowBound = 0)
x45 = LpVariable("Louisville to Detroit", lowBound = 0)
x46 = LpVariable("Louisville to Miami", lowBound = 0)
x47 = LpVariable("Louisville to Dallas", lowBound = 0)
x48 = LpVariable("Louisville to New Orleans", lowBound = 0)

# define the objective function
problem += 2*x13 + 3*x14 + 3*x23 + 1*x24 + 2*x35 + 6*x36 + 3*x37 + 6*x38 + 4*x45 + 4*x46 + 6*x47 + 5*x48

# define the constraint(s)
problem += x13 + x14 <= 600 # Denver Plant constraint
problem += x23 + x24 <= 400 # Atlanta Plant constraint
problem += -x13 -x23 + x35 + x36 + x37 + x38 == 0 # Kansas City Warehouse constraint
problem += -x14 -x24 + x45 + x46 + x47 + x48 == 0 # Louisville Warehouse constraint
problem += x35 + x45 == 200 # Detroit Outlet constraint
problem += x36 + x46 == 150 # Miami Outlet constraint
problem += x37 + x47 == 350 # Dallas Outlet constraint
problem += x38 + x48 == 300 # New Orleans Outlet constraint

problem # display the LP problem

Transshipment_Problem:
MINIMIZE
3*Atlanta_to_Kansas_City + 1*Atlanta_to_Louisville + 2*Denver_to_Kansas_City + 3*Denver_to_Louisville + 3*Kansas_City_to_Dallas + 2*Kansas_City_to_Detroit + 6*Kansas_City_to_Miami + 6*Kansas_City_to_New_Orleans + 6*Louisville_to_Dallas + 4*Louisville_to_Detroit + 4*Louisville_to_Miami + 5*Louisville_to_New_Orleans + 0
SUBJECT TO
_C1: Denver_to_Kansas_City + Denver_to_Louisville <= 600

_C2: Atlanta_to_Kansas_City + Atlanta_to_Louisville <= 400

_C3: - Atlanta_to_Kansas_City - Denver_to_Kansas_City + Kansas_City_to_Dallas
 + Kansas_City_to_Detroit + Kansas_City_to_Miami + Kansas_City_to_New_Orleans
 = 0

_C4: - Atlanta_to_Louisville - Denver_to_Louisville + Louisville_to_Dallas
 + Louisville_to_Detroit + Louisville_to_Miami + Louisville_to_New_Orleans = 0

_C5: Kansas_City_to_Detroit + Louisville_to_Detroit = 200

_C6: Kansas_City_to_Miami + Louisville_to_Miami = 150

_C7: Kansas_City_to_Dallas + Louisville_to_Dallas = 350

_C8: Kansas_City_to_New_Orleans + Louisville_to_New_Orleans = 300

VARIABLES
Atlanta_to_Kansas_City Continuous
Atlanta_to_Louisville Continuous
Denver_to_Kansas_City Continuous
Denver_to_Louisville Continuous
Kansas_City_to_Dallas Continuous
Kansas_City_to_Detroit Continuous
Kansas_City_to_Miami Continuous
Kansas_City_to_New_Orleans Continuous
Louisville_to_Dallas Continuous
Louisville_to_Detroit Continuous
Louisville_to_Miami Continuous
Louisville_to_New_Orleans Continuous

In [4]:
problem.solve() # solving the problem

1

In [7]:
print("Status = ", LpStatus[problem.status])
print("Total Cost = ", value(problem.objective))

Status =  Optimal
Total Cost =  5200.0

In [9]:
for v in problem.variables():
    print(v.name, "cost =", v.varValue)

Atlanta_to_Kansas_City cost = 0.0
Atlanta_to_Louisville cost = 400.0
Denver_to_Kansas_City cost = 550.0
Denver_to_Louisville cost = 50.0
Kansas_City_to_Dallas cost = 350.0
Kansas_City_to_Detroit cost = 200.0
Kansas_City_to_Miami cost = 0.0
Kansas_City_to_New_Orleans cost = 0.0
Louisville_to_Dallas cost = 0.0
Louisville_to_Detroit cost = 0.0
Louisville_to_Miami cost = 150.0
Louisville_to_New_Orleans cost = 300.0